# Игнорировать ВСЁ
*

# Разрешить нужные файлы по расширениям:
!*.cpp
!*.h
!*.hpp
!*.md
!CMakeLists.txt

# Разрешить папки (чтобы Git их не игнорировал)
!*/

# Не игнорировать сам .gitignore (опционально)
!.gitignore